<div class="employees-page">

  <!-- Header -->
  <div class="page-header">
    <div>
      <h1>Employees</h1>
      <p>{{ employees.length }} total employees</p>
    </div>


  </div>

  

  <!-- Cards -->
  <div class="employee-container">
    <div class="employee-card" *ngFor="let emp of employees">

      <!-- Card Header -->
      <div class="card-header">
        <div class="avatar">
          {{ emp.firstName.charAt(0) }}{{ emp.lastName.charAt(0) }}
        </div>

        <div class="header-info">
          <h3>{{ emp.firstName }} {{ emp.lastName }}</h3>
          <p>{{ emp.designation }}</p>
        </div>

        <span class="menu">⋮</span>
      </div>

      <!-- Info -->
      <div class="contact">
        <p>✉️ {{ emp.email }}</p>
        <p *ngIf="emp.phone">📞 {{ emp.phone }}</p>
      </div>

      <!-- Footer -->
      <div class="card-footer">
        <span class="department">{{ emp.department }}</span>

        <span
          class="status"
          [ngClass]="emp.isActive ? 'active' : 'inactive'"
        >
          {{ emp.isActive ? 'Active' : 'Inactive' }}
        </span>
      </div>

    </div>
  </div>

</div>
